
link(rel='import', href='../bower_components/polymer/polymer.html')

polymer-element(name='gl-auth', attributes='ng apiKey')
    template
        style.
          :host > button {
              background-color: rgba(221,75,57,.8);
              border: 0;
              height: 45px;
              min-width: 280px;
              padding: 0;
          }
          :host > button:disabled {
              opacity: .5;
          }
          :host > button div {
              color: #fff;
              float: left;
              height: 100%;
              line-height: 45px;
          }
          :host div.icon {
              background-color: #dd4b39;
              font-size: 15px;
              width: 45px;
              -webkit-font-smoothing: antialiased;
          }
          :host div.icon:before {
              content: 'g+';
           }
          :host div.text {
              background-color: transparent;
              border: 0;
              color: #fff;
              font-size: 15px;
              padding-left: 10px;
          }
        button#btnGl.gl(disabled)
          div.icon.icon-gplus
          div.text Sign-in with Google
