doctype html
//[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
//[if IE 8]>         <html class="no-js lt-ie9"> <![endif]
//[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]
head
  meta(charset='utf-8')
  title GL App
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  // inject:head:js 
  // endinject 
  // Place favicon.ico and apple-touch-icon.png in the root directory 
  // build:css styles/vendor.css 
  // bower:css 
  // endbower 
  // build:css({.tmp,app}) styles/main.css 
  // inject:css 
  // endinject 
  // endbuild 
  // inject:html 
  // endinject 

  // GOOGLE FONT 
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700')

  // iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance 
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')

body.fixed-header(ng-app='glApp')
  //[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]

  // Add your site or application content here
  section.container(ng-controller='AppCtrl')
    // HEADER 
    header.header.fixed-top.clearfix
      .brand
        a.logo(href='index.html')
          img.ph(alt='', ph-img='130x55')
        .sidebar-toggle-box
          .fa.fa-bars

      .nav.notify-row
        ul.nav.top-menu
          li.dropdown
            a.dropdown-toggle(href='javascript:;', data-toggle='dropdown-toggle')
              i.fa.fa-tasks
              span.badge.bg-success 2
            ul.dropdown-menu.extended.tasks-bar
              li
                p You have 2 pending tasks
              li
                a(href='javascript:;')
                  .task-info.clearfix
                    .desc.pull-left
                      h5 Target Sell
                      p 25% , Deadline 12 June’13
                    span.notification-pie-chart.pull-right(data-percent='45')
                      span.percent
              li.external
                a(href='javascript:;') See All Tasks
          li.dropdown
            a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
              i.fa.fa-envelope-o
              span.badge.bg-important 3
            ul.dropdown-menu.extended.inbox
              li
                p.red You have 4 Mails
              li
                a(href='javascript:;')
                  span.photo
                    img(alt='avatar', ph-img='40x40', ng-src='{{photo1}}', style='width:40px; height:40px;')
                  span.subject
                    span.from {{fullname1}}
                    span.time Just now
                  span.message(ph-txt='1s')
              li
                a(href='javascript:;')
                  span.photo
                    img(alt='avatar', ph-img='40x40', ng-src='{{photo2}}', style='width:40px; height:40px;')
                  span.subject
                    span.from {{fullname2}}
                    span.time 2 min ago
                  span.message(ph-txt='1s')
              li
                a(href='javascript:;') See all messages
          li.dropdown
            a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
              i.fa.fa-bell-o
              span.badge.bg-warning 2
            ul.dropdown-menu.extended.notification
              li
                p Notifications
              li
                .alert.alert-info.clearfix
                  span.alert-icon
                    i.fa.fa-bolt
                  .noti-info
                    a(href='javascript:;', ph-txt='1s')
              li
                .alert.alert-danger.clearfix
                  span.alert-icon
                    i.fa.fa-bolt
                  .noti-info
                    a(href='javascript:;', ph-txt='1s')

      .top-nav.clearfix
        ul.nav.pull-right.top-menu
          li
            input.form-control.search(placeholder='Search')
          li.dropdown
            a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
              img(alt='', ph-img='29x29', ng-src='{{photo}}', style='width:29px; height:29px;')
              span.username {{fullname}}
              b.caret
            ul.dropdown-menu.extended.logout
              li
                a(href='javascript:;')
                  i.fa.fa-suitcase
                  | Profile
              li
                a(href='javascript:;')
                  i.fa.fa-cog
                  | Settings
              li
                a(href='javascript:;')
                  i.fa.fa-key
                  | Log Out
          li
            .toggle-right-box
              .fa.fa-bars
    
    aside
      #sidebar.nav-collapse
        .leftside-navigation(ng-controller='navigationCtrl')
          ul.sidebar-menu
            li
              a(href='#', ng-class='{active:isActive(\'/\')}')
                i.fa.fa-dashboard
                span Dashboard
            li
              a(href='/#/posts', ng-class='{active:isActive(\'/posts\')}')
                i.fa.fa-book
                span Posts
            li
              a(href='/#/users/login', ng-class='{active:isActive(\'/users/login\')}')
                i.fa.fa-user
                span Log In

    .main-content
      .wrapper
        .row
          .col-sm-12(ng-view='')


  // Google Analytics: change UA-XXXXX-X to be your site's ID 
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  //[if lt IE 9]><![endif]

  // build:js scripts/vendor.js 
  // bower:js 
  // endbower 
  // endbuild 
  // build:js({.tmp,app}) scripts/scripts.js 
  // inject:js 
  // endinject 
  // endbuild 
