// MAIN PANEL
#main(role='main')
  // RIBBON 
  #ribbon
    span.ribbon-button-alignment
      span#refresh.btn.btn-ribbon(data-title='refresh', rel='tooltip', data-placement='bottom', data-original-title!='Warning! This will reset all your widget settings.', data-html='true', data-reset-msg='')
        i.fa.fa-refresh
  // breadcrumb 
  ol.breadcrumb
  // pulled right: some icons here
  span.ribbon-button-alignment.pull-right
    span#search
    span#add
    span#search